.one {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
table {
    width: 100%;
}
td {
    border: 1px solid black;
    padding-top: 30px;
}
.grey {
    background-color: grey;
}
.ti {
    background-color: green;
}